/* banner container styles  */
* {
    margin: 0px;
}

body {
    font-family: 'Merriweather', serif;
}

.banner-container {
    background-image: url('../images/resources/Banner\ Image.png');
    width: 1150px;
    height: 600px;
    margin: 30px 70px 0px 70px;
    background-repeat: no-repeat;
}

.new-year {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 200px;
}

.heading-title {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    padding: 15px 230px 0px 300px;

}

/* discount section start  */
.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    margin-top: 90px;
}

.para-dis {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
}

.image-dis {
    height: 400px;
    width: 60px;
    margin-top: 40px;
    margin-left: 250px;
}

.item-dis {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}

/* welcome section start  */
.welcome {
    background-image: url('../images/resources/Vectorrr.png');
    width: 1150px;
    height: 600px;
    margin: 30px 70px 200px 70px;
    background-repeat: no-repeat;
    margin-top: 170px;
    display: flex;

}

.welcome-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding: 110px 10px 20px 100px;
}


.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 110px;
}

.join {
    color: #FFF;
    padding: 170px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    padding-top: 50px;
}

.welcome-image-con {
    padding: 55px 80px 55px 10px;
}

/* new park section start  */

.new-park-container {
    background-image: url('../images/resources/gradient3.png');
    background-repeat: no-repeat;
    height: 480px;
    width: 1150px;
    margin: 30px 70px 0px 70px;
    ;

}

.button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    text-align: center;

}

.button-container {
    text-align: center;
}


.new-park-container {
    padding-top: 100px;

}

.span1 {
    color: #F00;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
}

.new-park-descriptoin {
    color: #070211;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;

}

.pre {
    padding-left: 150px;
}

/* come section styles  */
.coming-soon-container {
    display: grid;
    grid-template-columns: 380px 430px 250px;
    width: 1150px;
    margin: 0px 70px 100px 70px;
    margin-top: 0px;
    margin-bottom: 100px;

}

.best-offer {
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.coming-title {
    color: #070211;
    font-size: 30px;
    font-weight: 900;
    font-family: Merriweather;
}

.coming-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}

.come-container {
    margin: 0px 70px;
}

.come-image {
    border: 8px solid red;
    padding: 10px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.number {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.para-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.group {
    height: 140px;
    width: 140px;
}

/* holiday styles start here  */
.holiday-container {
    width: 1150px;
}

.what {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.holiday-title {
    color: #F00;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
}

.holiday-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px 100px;

}

.span2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 900;
}

.pic-container {

    display: grid;
    grid-template-columns: 300px 200px 300px;
    width: 1150px;
    height: 662px;
    margin: 0px 70px 100px 70px;
    background-image: url('../images/resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;


}

.girl-pic {
    height: 300px;
    width: 250px;
    padding-left: 420px;
}

.bom-pic {
    width: 300px;
    height: 250px;
    margin-right: 100px;
}

.circle-pic {
    text-align: center;
    margin-top: -400px;
    margin-right: 600px;
    width: 100px;
    height: 100px;

}

/* portfolio section style start here  */
.portfolio-container {
    margin-left: 70px;
    width: 1150px;
}

.best-gift {
    color: #F00;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
}

.portfolio-title {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 900;
    color: #070211;
    margin: 10px 0px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    width: 800px;
}

.portfilio-image-container {
    margin: 20px 70px 10px 70px;
    background: #FFF;
}

.portfolio-image {
    width: 360px;
    height: auto;
    margin: 5px;
}

/* subscriber section  */
.subscribe-container {
    width: 1150px;
    height: 500px;
    background: rgba(255, 0, 0, 0.05);
    margin: 90px 70px;
    text-align: center;
}

.email {
    padding-top: 60px;
}

.subscriber-description {
    padding: 25px 190px;
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.input-container {
    display: flex;
    margin-top: 30px;
    text-align: center;

}

#input {
    height: 50px;
    margin-left: 300px;
    width: 300px;
}

.button {
    border: 4px solid red;
    border-radius: 0px 50px 50px 0px;
    padding: 15px;
    height: 55px;
}

.subscriber-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.my-address-container {
    width: 1150px;
    height: 600px;
    background-color: #070211;
    display: flex;
    justify-content: space-between;
    margin: 5px 70px;
}

.my-address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 100px;
    width: 340px;
}

.contract-container{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 100px;
    width: 500px;
}
.icon-container{
    text-align: center;
    
}
.footer-container{

}